h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

p {
  color: #7d7987;
}

a {
  color: #458ff6;
}

strong {
  color: #fff;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

article {
  background-color: #5a98f2;
}

footer {
  background-color: #5a98f2;
}
